/* ProjectCard.module.css */

.wrapper {
  /* @apply bg-blue-700 text-white p-4 rounded-lg; */
  /* background-color: red; */
  /* display: grid; */
  gap: 2rem;
  grid-template-columns: 1fr 3fr;
  @apply flex flex-col gap-2 md:gap-2;
  transition: transform 250ms;
  &:hover {
    /* transform: scale(1.015); */
    .cardHeading {
      @apply text-light-link-secondary;
    }
    .cardImage {
      @apply shadow-lg;
    }
  }
  &:focus {
    /* transform: scale(1.015); */
    .cardHeading {
      @apply text-light-link-secondary;
    }
    .cardImage {
      @apply shadow-lg;
    }
  }
}
.cardHeading {
  transition: color 250ms;
  @apply mb-2 text-light-link-primary;
}
.cardImage {
  transition: box-shadow 250ms;
  @apply w-full border border-light-border-secondary object-contain bg-white rounded-md;
}
