/* SkillsList.module.css */

.skillsList {
  @apply flex flex-wrap mb-4 gap-1;
}
.skill {
  color: white;
  display: block;
  white-space: nowrap;
  @apply bg-light-surface-skill text-white px-2 text-body2 rounded-sm border-light-border-skill border-l-2;
}
